[submodule "template/report"]
	path = template/report
	url = https://github.com/yamadharma/academic-laboratory-report-template.git
[submodule "template/presentation"]
	path = template/presentation
	url = https://github.com/yamadharma/academic-presentation-markdown-template.git
